<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — lpd-pl</title>
<body>
  <header>
    <img src="/static/logo.300x150.png" />
    <h2>Linux Presentation Day PL</h2>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}>
        {% for href, title in [
          ['/blog', 'Aktualności'],
          ['/', 'O wydarzeniu'],
          ['/partnerzy', 'Partnerzy'],
          ['/przylacz-sie', 'Przyłącz się'],
          ['/kontakt', 'Kontakt'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    
  </footer>
</body>
