<!-- START #fh5co-hero -->
<aside id="fh5co-hero">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-8 col-md-offset-2">-->
                <!--<div class="fh5co-hero-wrap">-->
                    <!--<div class="fh5co-hero-intro">-->
                        <!--<h1>{{ bag('hero', this.alt, 'venue') }}</h1>-->
                        <!--<h2>{{ bag('hero', this.alt, 'topic') }}</h2>-->
                        <!--<a href="#" class="btn btn-lg btn-success">{{ bag('hero', this.alt, 'signup') }}</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</aside>