<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'coordination') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="http://www.linux.org.pl"><img class="sidebar-logo" src="{{ '/img/partners/plug.png' | asseturl }}" alt="PLUG"/></a></li>
         </ul>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
    <div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'organizers') }}</h2>
    <ul>
            <li><a class="sidebar-logo-link" href="https://hspoz.pl/"><img class="sidebar-logo" src="{{ '/img/partners/knyfyrtel.png' | asseturl }}" alt="Knyfyrtel Hackerspace Poznań" /></a></li>
            <li><a class="sidebar-logo-link" href="https://asi.wroclaw.pl/"><img class="sidebar-logo" src="{{ '/img/partners/asi.png' | asseturl }}" alt="Akademickie Stowarzyszenie Informatyczne" /></a></li>
            <li><a class="sidebar-logo-link" href="https://hswro.org/"><img class="sidebar-logo" src="{{ '/img/partners/hswro.svg' | asseturl }}" alt="Hackerspace Wrocław" width="200" /></a></li>
            <li><a class="sidebar-logo-link" href="https://hs3.pl/"><img class="sidebar-logo" src="{{ '/img/partners/hs3.png' | asseturl }}" alt="Hackerspace Trójmiasto" /></a></li>
            <li><a class="sidebar-logo-link" href="https://hackerspace.pl/"><img class="sidebar-logo" src="{{ '/img/partners/hswaw.svg' | asseturl }}" alt="Warszawski Hackerspace" width="200"/></a></li>

    </ul>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'media_patronage') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="https://piwo.sh/"><img class="sidebar-logo" src="{{ '/img/partners/piwo.svg' | asseturl }}" alt="Poznańska Impreza Wolnego Oprogramowania"/></a></li>
        <li><a class="sidebar-logo-link" href="https://www.youtube.com/@SwiatLinuksa"><img class="sidebar-logo" src="{{ '/img/partners/swiat-linuksa.png' | asseturl }}" alt="Świat Linuksa" title="Świat Linuksa" /></a></li>
    </ul>
</div>
