<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'coordination') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="http://www.linux.org.pl"><img class="sidebar-logo" src="{{ '/img/partners/plug.png' | asseturl }}" alt="PLUG"/></a></li>
    </ul>
</div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="fh5co-side-section fh5co-nav-links">
    <h2 class="fh5co-uppercase-heading-sm">{{ bag('general', this.alt, 'media_patronage') }}</h2>
    <ul>
        <li><a class="sidebar-logo-link" href="https://www.linuxportal.pl/"><img class="sidebar-logo" src="{{ '/img/partners/LinuxPortal.gif' | asseturl }}" alt="LinuxPortal"/></a></li>
    </ul>
</div>
